@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 245, 234, 1);

  color: rgba(85, 50, 22, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-e-header.is-open .q-e-header-background {
  left: 0;
}
.q-e-header-button-wrapper {
  margin-left: auto;
}
.q-e-header-icon {
  display: none;
}

.q-e-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-e-navigation-list.is-open {
  right: 0;
}
.q-e-header-icon-menu {
  display: block;
}

.q-e-header-icon-button.is-open .q-e-header-icon-menu {
  display: none;
}

.q-e-header-icon-button.is-open .q-e-header-icon-close {
  display: block;
}

.q-e-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(85, 50, 22, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.q-e-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(85, 50, 22, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.q-e-header.is-open .q-e-header-background {
  left: 0;
}
.q-e-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-e-header-icon-menu {
  display: block;
}

.q-e-header-icon-button.is-open .q-e-header-icon-menu {
  display: none;
}

.q-e-header-icon-button.is-open .q-e-header-icon-close {
  display: block;
}

.q-e-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.q-e-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  gap: 28px;
  background: rgba(85, 50, 22, 1);
}

.q-e-navigation-list.is-open {
  right: 0;
}

.q-e-navigation-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.q-e-navigation-link:hover,
.q-e-navigatioт-link:focus {
  color: rgba(67, 82, 13, 1);
}

.q-e-header.is-open {
  background-color: transparent;
}

.q-e-navigation-img {
  display: none;
}

@media screen and (min-width: 1117px) {
  .q-e-navigation-img {
    display: flex;
    margin-right: 600px;
  }
  .q-e-policy-terms-header-icon-menu {
    display: none;
  }

  .q-e-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .q-e-header-background {
  }
  .q-e-header-icon-button {
    display: none;
  }
  .q-e-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-e-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-e-navigation-link {
    padding: 0px 10px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .q-e-navigation-item-desk {
    display: none;
  }
}
.q-e-home {
  width: 375px;
  height: 410px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero\ fin\ 1.png");
  margin: auto;
}
.q-e-home-container {
  width: 375px;
  padding: 111px 15px 0px;
  margin: auto;
}

.q-e-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.q-e-home-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.q-e-home-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;

  color: rgba(255, 255, 255, 1);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 25px 0 45px;
}

.q-e-home-google-button-image {
  width: 255px;
  height: 45px;
}

.q-e-home-google-button-link:hover .q-e-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1117px) {
  .q-e-home {
    width: 1440px;
    height: 846px;
    background-image: url("/img/home/hero\ fin\ 1\ \(1\).png");
  }
  .q-e-home-container {
    width: 1440px;
    padding: 180px 182px 0px;
  }
  .q-e-home-container-top {
    width: 904px;
  }

  .q-e-home-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 0%;
  }

  .q-e-home-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 36px;
    padding: 48px 0;
  }
  .q-e-home-google-button-image {
    width: 302px;
    height: 60px;
  }
}

.q-e-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 50px 16px 45px;
}
.q-e-uniqueness-list {
  padding: 0px 0 15px;
}
.q-e-uniqueness-lists {
  display: none;
}
.q-e-uniqueness-text-bold {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  height: 42px;
}
.q-e-uniqueness-text {
  font-family: Roboto;
  font-weight: 400;
  padding-top: 15px;
}
.q-e-uniqueness-item-w {
  width: 255px;
  height: 120px;
  margin-top: 25px;
}
.q-e-uniqueness-item {
  height: 300px;
  margin: 0 10px;
}
@media screen and (min-width: 1117px) {
  .q-e-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 72px;
  }
  .q-e-uniqueness-list {
    display: none;
  }
  .q-e-uniqueness-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
    gap: 189px;
    row-gap: 36px;
  }
  .q-e-uniqueness-text-bold {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;

    height: 54px;
  }
  .q-e-uniqueness-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;

    padding-top: 24px;
  }
  .q-e-uniqueness-item-w {
    width: 306px;
    height: 162px;

    margin-top: 0px;
  }
}
.q-e-about {
  margin: auto;
}
.q-e-about-container {
  width: 375px;
  padding: 50px 15px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.q-e-about-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  color: rgba(67, 82, 13, 1);
}
.q-e-about-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}

.q-e-about-text-bold {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 20px 0 15px;
}
.q-e-about-img {
  width: 345px;
}

@media screen and (min-width: 1117px) {
  .q-e-about-container {
    width: 1440px;
    padding: 100px 72px 0;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .q-e-about-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .q-e-about-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
  }

  .q-e-about-text-bold {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;

    padding: 36px 0 24px;
  }
  .q-e-about-img {
    width: 726px;
  }
}
.q-e-why-container {
  width: 375px;
  margin: auto;
  padding: 50px 15px 0;
}
.q-e-why-title {
  text-align: center;
}
.q-e-why-list {
  padding: 25px 0 15p;
}
.q-e-why-lists {
  display: none;
}
.q-e-why-item {
  width: 345px;
  height: 454px;
  margin: 0 5px;
}
.q-e-why-img {
  margin: auto;
}
.q-e-why-text-bold {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  padding: 0px 0 10px;
}
.q-e-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slick-dots li {
  list-style: none;
  width: 8px;
  height: 8px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/why/Ellipse\ 11.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/why/Ellipse\ 15.png") no-repeat center/cover;
}
@media screen and (min-width: 1117px) {
  .q-e-why-container {
    width: 1440px;
    padding: 100px 72px 0;
  }
  .slick-dots li {
    display: none;
  }
  .q-e-why-list {
    display: none;
  }
  .q-e-why-lists {
    display: flex;
    flex-direction: column;
    gap: 90px;
    column-gap: 24px;
    flex-wrap: wrap;
    height: 883px;
    padding-top: 50px;
  }
  .q-e-why-item {
    width: 656px;
    height: 305px;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .q-e-why-item-q {
    margin-top: 90px;
  }
  .q-e-why-text-bold {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;

    padding: 0px 0 16px;
  }
  .q-e-why-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
  }
}
.q-e-how {
  margin: auto;
  width: 375px;
  height: 792px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 2456.png");
}
.q-e-how-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}
.q-e-how-list {
  padding-top: 281px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.q-e-how-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.q-e-how-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
}
.q-e-how-text-bold-q {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  padding-top: 25px;
}
.q-e-how-text-q {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  color: rgba(67, 82, 13, 1);
  text-decoration: none;
}
@media screen and (min-width: 1117px) {
  .q-e-how {
    width: 1440px;
    height: 819px;
    background-image: url("/img/Frame\ 2457.png");
  }
  .q-e-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 0 0;
  }
  .q-e-how-list {
    padding-top: 48px;
    padding-left: 512px;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  .q-e-how-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }

  .q-e-how-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    width: 746px;
    padding-top: 8px;
  }
  .q-e-how-text-bold-q {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding-top: 79px;
  }
  .q-e-how-text-q {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
  }
}

.q-e-reviews {
  margin: auto;
  width: 375px;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/reviews.png");
}
.q-e-reviews-container {
  margin: auto;
  padding: 20px 15px 0;
  width: 375px;
}
.q-e-reviews-list {
  padding: 25px 0 15px;
}

.q-e-reviews-item {
  margin: 58px 5px 0;
  width: 345px;
  height: 272px;
  background: rgba(255, 245, 234, 1);
  padding: 133px 15px 0;
  position: relative;
}

.q-e-reviews-image {
  width: 165px;
  height: 176px;
  border-width: 2px;
  margin: auto;
  position: absolute;
  top: -58px;
  left: 90px;
}
.q-e-reviews-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  height: 63px;
}
.q-e-reviews-img {
  height: 15px;
  margin: 10px 0 15px;
}
.q-e-reviews-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}
.q-e-reviews-title {
  color: rgba(255, 245, 234, 1);
  text-align: center;
}
@media screen and (min-width: 1117px) {
  .q-e-reviews {
    width: 1440px;
    height: 583px;
    background-image: url("/img/reviews/reviews\ \(1\).png");
  }
  .q-e-reviews-container {
    margin: auto;
    padding: 48px 72px 0;
    width: 1440px;
  }

  .q-e-reviews-list {
    padding: 24px 0 0px;
  }

  .q-e-reviews-item {
    margin: 0px 52px 0 48px;
    width: 680px;
    height: 342px;

    padding: 83px 90px 0 202px;
    position: relative;
  }

  .q-e-reviews-image {
    width: 210px;
    height: 224px;
    position: absolute;
    top: 59px;
    left: -48px;
  }
  .q-e-reviews-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    font-size: 24px;

    height: 83px;
  }
  .q-e-reviews-img {
    height: 24px;
    margin: 20px 0;
  }
  .q-e-reviews-text-bold {
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;

    text-align: right;
  }
  .q-e-reviews-title {
    color: rgba(255, 245, 234, 1);
    text-align: center;
  }
}

.q-e-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1117px) {
  .q-e-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .q-e-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .q-e-gallery-button:hover {
    scale: 120%;
  }
}

.q-e-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}

.q-e-container h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: rgba(67, 82, 13, 1);
}

.q-e-container h2 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
}

.q-e-container h3 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
}

.q-e-container ul {
  margin-top: 10px;
}

.q-e-container ul li {
  margin-bottom: 10px;
}
.q-e-container p {
  margin-top: 10px;
}
.q-e-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1117px) {
  .q-e-container {
    padding: 128px 64px 40px;
    width: 1440px;
    margin: auto;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .q-e-container h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
  }

  .q-e-container h2 {
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
  }

  .q-e-container h3 {
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
  }

  .q-e-container ul {
    margin-top: 20px;
  }

  .q-e-container ul li {
    margin-bottom: 10px;
  }
  .q-e-container p {
    margin-top: 20px;
  }
}

.q-e-footer-container {
  width: 375px;
  margin: auto;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.q-e-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.q-e-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.q-e-footer-copyright {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.q-e-footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.q-e-footer-logo {
  width: 65px;
  height: 65px;
}
@media screen and (min-width: 1117px) {
  .q-e-footer-container {
    width: 1440px;
    padding: 24px 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }

  .q-e-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 250px;
  }

  .q-e-footer-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
  }

  .q-e-footer-copyright {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;

    text-align: center;
  }
  .q-e-footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.q-e-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 20px 15px;
  background: rgba(254, 254, 254, 1);

  z-index: 1000;
  display: none;
}

.q-e-cookie-popup-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;

  color: rgba(0, 0, 0, 1);
}

.q-e-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.q-e-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 196px;
  padding: 17px 0;
  border-radius: 36px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

#accept-cookies {
  background: rgba(127, 99, 75, 1);
  color: rgba(254, 254, 254, 1);
  border: none;
}

.q-e-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1117px) {
  .q-e-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 135px;
  }

  .q-e-cookie-popup-text-two {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    width: 754px;
  }

  .q-e-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .q-e-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 72px;
    display: none;
  }
}
