@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 245, 234, 1);

  color: rgba(85, 50, 22, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.class-header.is-open .class-header-background {
  left: 0;
}
.class-header-button-wrapper {
  margin-left: auto;
}
.class-header-icon {
  display: none;
}

.class-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.class-navigation-list.is-open {
  right: 0;
}
.class-header-icon-menu {
  display: block;
}

.class-header-icon-button.is-open .class-header-icon-menu {
  display: none;
}

.class-header-icon-button.is-open .class-header-icon-close {
  display: block;
}

.class-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: #297d17;
  box-shadow: 4px 7px 9px 0px #00000040;
}

.class-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #297d17;
  box-shadow: 4px 7px 9px 0px #00000040;
}
.class-header.is-open .class-header-background {
  left: 0;
}
.class-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-header-icon-menu {
  display: block;
}

.class-header-icon-button.is-open .class-header-icon-menu {
  display: none;
}

.class-header-icon-button.is-open .class-header-icon-close {
  display: block;
}

.class-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.class-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: #ffc16b;
}

.class-navigation-list.is-open {
  right: 0;
}

.class-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #482600;
}

.class-navigation-link:hover,
.class-navigatioт-link:focus {
  color: #297d17;
}

.class-header.is-open {
  background-color: transparent;
}

.class-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .class-navigation-img {
    display: flex;
  }
  .class-policy-terms-header-icon-menu {
    display: none;
  }

  .class-header {
    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .class-header-background {
  }
  .class-header-icon-button {
    display: none;
  }
  .class-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .class-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .class-navigation-link {
    padding: 0px 24px;
    text-decoration: none;
  }

  .class-navigation-link:hover,
  .class-navigation-link:focus {
    color: #ffffff;
  }

  .class-navigation-item-desk {
    display: none;
  }
}
.class-home {
  width: 375px;
  height: 410px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero\ fin\ 1.png");
  margin: auto;
}
.class-home-container {
  width: 375px;
  padding: 111px 15px 0px;
  margin: auto;
}

.class-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.class-home-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.class-home-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;

  color: rgba(255, 255, 255, 1);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  padding: 25px 0 45px;
}

.class-home-google-button-image {
  width: 255px;
  height: 45px;
}

.class-home-google-button-link:hover .class-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .class-home {
    width: 1440px;
    height: 846px;
    background-image: url("/img/home/hero\ fin\ 1\ \(1\).png");
  }
  .class-home-container {
    width: 1440px;
    padding: 180px 182px 0px;
  }
  .class-home-container-top {
    width: 904px;
  }

  .class-home-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 0%;
  }

  .class-home-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 36px;
    padding: 48px 0;
  }
  .class-home-google-button-image {
    width: 302px;
    height: 60px;
  }
}

.class-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}
.class-uniqueness-list {
  padding: 0px 0 15px;
}
.class-uniqueness-lists {
  display: none;
}
.class-uniqueness-text-bold {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  height: 42px;
}
.class-uniqueness-text {
  font-family: Roboto;
  font-weight: 400;
  padding-top: 15px;
}
.class-uniqueness-item-w {
  width: 255px;
  height: 120px;
  margin-top: 25px;
}
.class-uniqueness-item {
  height: 300px;
  margin: 0 10px;
}
@media screen and (min-width: 1200px) {
  .class-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 72px 0;
  }
  .class-uniqueness-list {
    display: none;
  }
  .class-uniqueness-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
    gap: 189px;
    row-gap: 36px;
  }
  .class-uniqueness-text-bold {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;

    height: 54px;
  }
  .class-uniqueness-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;

    padding-top: 24px;
  }
  .class-uniqueness-item-w {
    width: 306px;
    height: 162px;

    margin-top: 0px;
  }
}
.class-about {
  margin: auto;
}
.class-about-container {
  width: 375px;
  padding: 50px 15px 0;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.class-about-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  color: rgba(67, 82, 13, 1);
}
.class-about-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}

.class-about-text-bold {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 20px 0 15px;
}
.class-about-img {
  width: 345px;
}

@media screen and (min-width: 1200px) {
  .class-about-container {
    width: 1440px;
    padding: 100px 72px 0;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .class-about-title {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .class-about-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
  }

  .class-about-text-bold {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: 0%;

    padding: 36px 0 24px;
  }
  .class-about-img {
    width: 726px;
  }
}
.class-why-container {
  width: 375px;
  margin: auto;
  padding: 50px 15px 0;
}
.class-why-title {
  text-align: center;
}
.class-why-list {
  padding: 25px 0 15p;
}
.class-why-lists {
  display: none;
}
.class-why-item {
  width: 345px;
  height: 454px;
  margin: 0 5px;
}
.class-why-img {
  margin: auto;
}
.class-why-text-bold {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  padding: 0px 0 10px;
}
.class-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.slick-dots li {
  list-style: none;
  width: 8px;
  height: 8px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/why/Ellipse\ 11.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/why/Ellipse\ 15.png") no-repeat center/cover;
}
@media screen and (min-width: 1200px) {
  .class-why-container {
    width: 1440px;
    padding: 100px 72px 0;
  }
  .class-why-list {
    display: none;
  }
  .class-why-lists {
    display: flex;
    flex-direction: column;
    gap: 90px;
    column-gap: 24px;
    flex-wrap: wrap;
    height: 883px;
    padding-top: 50px;
  }
  .class-why-item {
    width: 656px;
    height: 305px;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .class-why-item-q {
    margin-top: 90px;
  }
  .class-why-text-bold {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;

    padding: 0px 0 16px;
  }
  .class-why-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
  }
}
.class-how {
  margin: auto;
  width: 375px;
  height: px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img");
}
.class-how-container {
  margin: auto;
  width: 375px;
  padding: 64px 16px 0;
}
.class-how-list {
  padding-top: px;
  display: flex;
  flex-direction: column;
  gap: px;
}

.class-how-item {
}

.class-how-img {
  margin: auto;
}

.class-how-text-bold {
}

.class-how-text {
}

@media screen and (min-width: 1200px) {
  .class-how {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-how-container {
    margin: auto;
    width: 1440px;
    padding: ;
  }
}

.class-characters {
  margin: auto;
  width: 375px;
  height: px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img");
}
.class-characters-container {
  padding: 0px 16px;
  margin: auto;
  width: 375px;
}
.class-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: px;
  gap: px;
}

.class-characters-text-bold {
}

.class-characters-text {
}

@media screen and (min-width: 1200px) {
  .class-characters {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-characters-container {
    padding: px;
    margin: auto;
    width: 1440px;
  }
}

.class-reviews {
  margin: auto;
  width: 375px;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/reviews.png");
}
.class-reviews-container {
  margin: auto;
  padding: 20px 15px 0;
  width: 375px;
}
.class-reviews-list {
  padding: 25px 0 15px;
}

.class-reviews-item {
  margin: 58px 5px 0;
  width: 345px;
  height: 272px;
  background: rgba(255, 245, 234, 1);
  padding: 133px 15px 0;
  position: relative;
}

.class-reviews-image {
  width: 165px;
  height: 176px;
  border-width: 2px;
  margin: auto;
  position: absolute;
  top: -58px;
  left: 90px;
}
.class-reviews-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  height: 63px;
}
.class-reviews-img {
  height: 15px;
  margin: 10px 0 15px;
}
.class-reviews-text-bold {
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}
.class-reviews-title {
  color: rgba(255, 245, 234, 1);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .class-reviews {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-reviews-container {
    margin: auto;
    padding: ;
    width: 1440px;
  }
}

.class-faq {
  margin: auto;
  width: 375px;
  height: px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img");
}
.class-faq-container {
  padding: 0px 16px 0px;
  width: 375px;
  margin: auto;
}
.class-faq-list {
  padding-top: px;
  display: flex;
  flex-direction: column;
  gap: px;
}

.class-faq-item {
}

.class-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-faq-answer {
  display: none;
  padding-top: 16px;
}
.class-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .class-faq {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-faq-container {
    padding: ;
    width: 1440px;
    margin: auto;
  }
}
.class-gallery {
  margin: auto;
  width: 375px;
  height: px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img");
}
.class-gallery-container {
  width: 375px;
  margin: auto;
  padding: px;
}
.class-gallery-list {
  width: auto;
  padding-top: 65px;
  margin: auto;
}

.class-gallery-item {
  width: 343px;
  height: 610px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.class-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.class-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .class-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .class-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .class-gallery-button:hover {
    scale: 120%;
  }

  .class-gallery {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-gallery-container {
    width: 1440px;
    margin: auto;
    padding: px;
  }
  .class-gallery-item {
    width: 406px;
    height: 721.78px;
    margin: 0 10px;
  }

  .class-gallery-list {
  }
}

.class-features {
  margin: auto;
  width: 375px;
  height: px;
  background-image: url("/img");
}
.class-features-container {
  width: 375px;
  margin: auto;
  padding: 64px 16px 89px;
}
.class-features-list {
  padding-top: px;
  display: flex;
  flex-direction: column;
  gap: px;
}

.class-features-item {
}

.class-features-img {
}

.class-features-text-bold {
}

.class-features-text {
}

@media screen and (min-width: 1200px) {
  .class-features {
    width: 1440px;
    height: px;
    background-image: url("/img");
  }
  .class-features-container {
    width: 1440px;
    margin: auto;
    padding: px;
  }
}

.class-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}

.class-container h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: rgba(67, 82, 13, 1);
}

.class-container h2 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
}

.class-container h3 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
}

.class-container ul {
  margin-top: 10px;
}

.class-container ul li {
  margin-bottom: 10px;
}
.class-container p {
  margin-top: 10px;
}
.class-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1117px) {
  .class-container {
    padding: 128px 64px 40px;
    width: 1440px;
    margin: auto;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .class-container h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
  }

  .class-container h2 {
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
  }

  .class-container h3 {
    margin-top: 20px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
  }

  .class-container ul {
    margin-top: 20px;
  }

  .class-container ul li {
    margin-bottom: 10px;
  }
  .class-container p {
    margin-top: 20px;
  }
}

.class-footer-container {
  width: 375px;
  margin: auto;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.class-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.class-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.class-footer-copyright {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}
.class-footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.class-footer-logo {
  width: 65px;
  height: 65px;
}
@media screen and (min-width: 1200px) {
  .class-footer-container {
    width: 1440px;
    padding: 24px 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
  }

  .class-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 250px;
  }

  .class-footer-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
  }

  .class-footer-copyright {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;

    text-align: center;
  }
  .class-footer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.class-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(149, 49, 133, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  z-index: 1000;
  display: none;
}

.class-cookie-popup-text-two {
  color: rgba(87, 78, 68, 1);
}

.class-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.class-cookie-button {
  border: none;
  background-color: transparent;
}

#accept-cookies {
}

.class-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .class-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .class-cookie-popup-text-two {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 648px;
  }

  .class-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .class-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
